<aside class="sidebar" role="banner" {{#if @blog.cover}} style="background-image: url({{@blog.cover}});" {{/if}}>
  <div class="nav-toggler-container">
    <button class="nav-toggler">
      <i class="fa fa-bars"></i>
    </button>
  </div>

  <section class="blog-info">
    <!-- <div class="blog-logo">
      <a href="{{@blog.url}}">
        <div class="blog-logo-inner" style="background-image: url({{@blog.logo}});"></div>
      </a>
    </div> -->

    <div class="blog-title" style="font-size:38px; font-weight:normal;">
      <a href="{{@blog.url}}">{{@blog.title}}</a>
    </div>

    <div class="blog-description">{{@blog.description}}</div>
    <br/>
    <a href="https://twitter.com/erictherobot" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @erictherobot</a>
    <script>
      ! function(d, s, id) {
      	var js, fjs = d.getElementsByTagName(s)[0],
      		p = /^http:/.test(d.location) ? 'http' : 'https';
      	if (!d.getElementById(id)) {
      		js = d.createElement(s);
      		js.id = id;
      		js.src = p + '://platform.twitter.com/widgets.js';
      		fjs.parentNode.insertBefore(js, fjs);
      	}
      }(document, 'script', 'twitter-wjs');
    </script>
  </section>

</aside>
